A:link {text-decoration: none; color:#0000ff; font-size:12px;}
A:visited {text-decoration: none; color: #0000ff; font-size:12px;}
A:active {text-decoration: none; color: #ff0000; font-size:12px;}
A:hover {text-decoration: none; color: #ff0000; font-size:12px;}
.p14 {font-family:宋体;color:#000000;font-size:12px;}
BODY.body {
	BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(../../image/bg2.gif); COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px; scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #DEE3E7; scrollbar-3dlight-color: #D1D7DC; scrollbar-arrow-color: #006699; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #98AAB1
}
TD {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 23px
}

TR.TableTitle{
	BACKGROUND-COLOR: #4455aa; BACKGROUND-IMAGE: url(../../image/lan20.gif); COLOR: white; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
TD.TableTitle {
	BACKGROUND-COLOR: #e4e8ef
}
TD.TableBody0 {
	BACKGROUND-COLOR: #ffffff
}
TD.TableBody1 {
	BACKGROUND-COLOR: #e4e8ef
}
TABLE.tableBorder1 {
	BACKGROUND-COLOR: #6595d6; BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; BORDER-RIGHT: 1px; BORDER-TOP: 1px; WIDTH: 97%
}
TABLE.tableBorder2 {
	BACKGROUND-COLOR: #efefef; BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; WIDTH: 97%
}
TR.StatusStyle {
	BACKGROUND-COLOR: #6ba9dc
}
INPUT.DateTime{
        background-color: #6ba9dc;FONT-SIZE: 9pt;color:#ffffff;border-left-style: solid; border-left-color: #6ba9dc;border-right-style: solid; border-right-color: #6ba9dc; border-top-style: solid; border-top-color: #6ba9dc; border-bottom-style: solid; border-bottom-color: #6ba9dc
}
INPUT.button{
        background-color: #efefef;FONT-SIZE: 9pt;color:#000000
}
TD.TD1{
      BORDER-BOTTOM: #6595d6 0px solid; BORDER-LEFT: #6595d6 1px solid; BORDER-RIGHT: #6595d6 0px solid; BORDER-TOP: #6595d6 1px solid;
}
TABLE.tableBorder0 {
	BORDER-BOTTOM: #6595d6 1px solid; BORDER-LEFT: #6595d6 1px solid; BORDER-RIGHT: #6595d6 1px solid; BORDER-TOP: #6595d6 1px solid; WIDTH: 97%
}
BODY.Hsplit{
	BACKGROUND-COLOR: #6595d6;FONT-SIZE: 9pt
}
.Gg1{font-family:"宋体";color:#FFFFFF;font-size:15px;LINE-HEIGHT: 18px;}
.Gg2{font-family:"宋体";color:#00FF80;font-size:15px;LINE-HEIGHT: 18px;}
.Gg3{font-family:"宋体";color:#FF3333;font-size:15px;LINE-HEIGHT: 18px;}
.Gg4{font-family:"宋体";color:#FFFF00;font-size:15px;LINE-HEIGHT: 18px;}
.common1{font:9pt;font-family: "宋体", Verdana, Arial, Helvetica, sans-serif;}
