body {font-size: 12px;line-height: 18px;}
ol, ul, li {
    list-style: none;
}
tr,td{	font-size: 12px;}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
    border: 0;
}
.page_input {
	background-color: #fff;
	background-image: url(../images/input_bj.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #749ed3;
	height: 18px;
}
.page_input1 {
	background-color: #fff;
	background-image: url(../images/input_bj.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #749ed3;
	height: 16px;
}
.page_input2 {
	background-color: #fff;
	border: 1px solid #c3cfdf;
	height: 18px;
}
.page_input3 {
	background-color: #fff;
	border: 1px solid #c3cfdf;
	height: 18px;
	width: 100px;
}
.page_input4 {
	background-color: #fff;
	border: 1px solid #c3cfdf;
	height: 18px;
	width: 40px;
}
.page_input_txt {
	background-color: #fff;
	border: 1px solid #c3cfdf;
	margin-top: 5px;
	margin-bottom: 5px;
}



/**/
#page_main {
	margin: 10px 0px;
}
.page_main_2{ background:#e3efff;}
/*btn*/
.commonbutton, a.commonbutton {
	width: 74px;
	height: 23px;
	line-height: 23px;
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/btn_more.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.commonbutton:hover, a.commonbutton:hover {
	background-position: 0 -23px;
}
.commonbutton:active, a.commonbutton:active {
	background-position: 0 -46px;
}

.commonbutton1, a.commonbutton1 {
	width: 90px;
	height: 23px;
	line-height: 23px;
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/btn_more_1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.commonbutton1:hover, a.commonbutton1:hover {
	background-position: 0 -23px;
}
.commonbutton1:active, a.commonbutton1:active {
	background-position: 0 -46px;
}

.btn_go {
	border: medium none;
	background-image: url(../images/btn_go.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

.btn_more, a.btn_more {
	width: 60px;
	height: 22px;
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/btn_more2.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 12px;
}
.btn_more:hover, a.btn_moreon:hover {
	background-position: 0 -22px;
}
.btn_more:active, a.btn_more:active {
	background-position: 0 -44px;
}

.btn_more1, a.btn_more1 {
	width: 90px;
	height: 22px;
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/btn_more2_1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 12px;
}
.btn_more1:hover, a.btn_moreon1:hover {
	background-position: 0 -22px;
}
.btn_more1:active, a.btn_more1:active {
	background-position: 0 -44px;
}
/*btn end*/
.page_main_top {
	height: 23px;
	margin-left: 25px;
}
.btn_table_top1 {
	font-size: 12px;
	line-height: 23px;
	color: #006699;
	background-image: url(../images/btn_0.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 80px;
	text-align: center;
	float: left;
	margin-right: 1px;
	margin-left: 1px;
}
.btn_table_top1:hover {
	color:  #000;
	background-image: url(../images/btn_2.gif);
	background-repeat: no-repeat;
}
.btn_table_top1 a:link {
	text-decoration: none;
	color: #006699;
	}
.btn_table_top1 a:visited {
	color:  #006699;
}
.btn_table_top1 a:hover {
	color:  #000;
}
.btn_table_top1 a:active {
	color:  #006699;
}
.left_list_li:visited {
	text-decoration: none;
	color: #0099CC;
}
.btn_table_top2 {
	font-size: 12px;
	line-height: 23px;
	color: #000;
	background-image: url(../images/btn_1.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 80px;
	text-align: center;
	float: left;
	margin-right: 1px;
	margin-left: 1px;
}
.page_main_top_tr{ font-size:12px; height:28px; line-height:28px; color:#000; background:url(../../../images/titbg1.gif) repeat-x; text-align:left; text-indent:10px; margin-bottom:10px; border:#b6dbed solid 1px;}
.page_main_top_tr a{ color:#000;}
.page_div_sosuo {
	font-size: 12px;
	line-height: 20px;
	margin: 5px;
}
.btn_div {
	float: left;
	width: 80px;
}
.table_box {
	border: 1px solid #a2bad9;

}
.table_box  a:link {
	text-decoration: none;
	color: #2a61d5;
	}
.table_box  a:visited {
	color:  #2a61d5;
}
.table_box  a:hover {
	color:  #000;
}
.table_box  a:active {
	color:  #2a61d5;
}


.tr_top {
	font-size: 13px;
	line-height: 20px;
	color: #14428b;
	background-image: url(../images/tr_bj.gif);
	background-repeat: repeat-x;
	height: 20px;
	text-indent: 3px;
}
.jt_box{
	text-align: right;
	height: 16px;
	width: 16px;
	float: right;
	padding: 2px;
	display: inline;
}
.tr_1 {
	font-size: 12px;
	line-height: 24px;
	background-color: #fff;
	text-indent: 3px;
	text-align: left;
	background-image: url(../images/tr_li.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-left-style: solid;
	border-left-color: #efefef;
}
.tr_1:hover {
zoom:1;
	background-color: #ffff88;
}
.tr_2 {
	font-size: 12px;
	line-height: 24px;
	background-color: #fbfbfb;
	text-indent: 3px;
	background-image: url(../images/tr_li.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.tr_3 {
	background-color: #fff;

}
.tr_2:hover {
	background-color: #ffff88;
}.page_nb {
	line-height: 20px;
	float: right;
	height: 20px;
	font-size: 13px;
	color: #999999;
	margin-top: 10px;
	margin-bottom: 10px;
}
.page_lefttop {
	border: medium none;
	background-image: url(../images/page_lefttop.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-color: #fff;
}

.page_left {
	border: medium none;
	background-image: url(../images/page_left.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-color: #fff;
}
.page_righttop {
	border: medium none;
	background-image: url(../images/page_righpttop.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-color: #fff;
}
.page_right {
	border: medium none;
	background-image: url(../images/page_right.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-color: #fff;
}

.left {
	float: left;
}
.right {
	float: right;
	text-align: right;
}
.table_bj1 {
	background-color: #d3e3ff;
	font-size: 12px;
	line-height: 18px;
}
.talbe1_top {
	line-height: 20px;
	background-image: url(../images/table_topbj.gif);
	background-repeat: repeat-x;
	padding: 5px;
	color: #13418b;
	font-size: 14px;
}
.talbe1_top_img {
	height: 20px;
	width: 20px;
}

.table1_tr1 {
	line-height: 25px;
	background-color: #fff;
	text-indent: 3px;
}
.table1_tr_top {
	background-color: #7aa4dd;
	background-image: url(../images/tr1_bj.gif);
	background-repeat: repeat-x;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	height: 18px;
	text-indent: 3px;
}

.table1_td1 {
	background-color: #edf7ff;
	text-align: right;
	text-indent: 3px;
	color: #14428b;
}
.div_bian5{	margin:0px;}

/*home*/
.home_topbj {
	background-image: url(../images/home_topbj.gif);
	background-repeat: repeat-x;
	height: 140px;
	background-position: left top;
}
.home_topleft {
	background-image: url(../images/home_topleft.gif);
	background-repeat: no-repeat;
	float: left;
	height:140px;
	width:515px;

}
.home_topright {
	background-image: url(../images/home_topright.gif);
	float: right;
	height:140px;
	width:200px;

}
.home_main_icon {
	margin: 5%;
	font-size: 12px;
	line-height: 30px;
}
.home_footer {
	margin-right: 3%;
	margin-left: 3%;
}
.home_footer_box {
	background-color:#fff;
	border:1px solid #e0e0e0;
	color:#666;
	font-size:12px;
	height:130px;
	line-height:22px;
}

.home_footer_box h1 {
	background-color:#fff;
	color:#00659A;
	font-size:12px;
	font-weight:bold;
	line-height:24px;
	text-indent:5px;
	background-image: url(../images/home_footer_box_top.gif);
	background-repeat: repeat-x;
	height: 24px;
}

.home_footer_box ul{
	margin-right: 5px;
	margin-left: 5px;
}
.home_footer_box li{
	line-height: 20px;
}
.tr_top_left {
	text-align: left;
	float: left;
	background-image: url(../images/tr_top_li.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 3px;
	height: 100%;
}
.tr_top_on {
	background-image: url(../images/tr_top_on.gif);
	background-repeat: repeat-x;
}
/*home end */
/*login*/
#login_main{
	background-image: url(../images/logoin_bj.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 450px;
	width: 800px;
	margin-top: 4%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#login_font_box {
	height: 95px;
	display: block;
	font-size: 12px;
	line-height: 25px;
	padding-top: 330px;
	padding-left: 160px;
	width: 550px;
}
/*login end */
.login_tr1 {
	height: 25px;
	line-height: 25px;
	padding: 8px;
}
.login_tr2 {
	font-size: 12px;
	line-height: 20px;
	color: #999;
	text-align: center;
}
.login_tr3 {
	height: 20px;
	line-height: 20px;
	text-align: right;
	color: #3c8fcf;
	padding: 5px;
	margin-right: 50px;
}


.page_tab_bj {
	background-image: url(../images/tab1_bj.gif);
	background-repeat: repeat-x;
	height: 27px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4a96b8;
	border-right-color: #4a96b8;
	border-left-color: #4a96b8;
}
.page_tab_1 {
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #fff;
	float: left;
	height: 25px;
	width: 98px;
	margin-left: 2px;
	text-align: center;
	padding-top: 2px;
}

.page_tab_1:hover {
	color: #333;
	text-decoration: none;
	background-image: url(../images/tab1_bj1.gif);
	background-repeat: no-repeat;
}
.page_tab_1 a:hover {
	color: #333;

}
.page_tab_2 {
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333;
	float: left;
	height: 25px;
	width: 98px;
	margin-left: 2px;
	text-align: center;
	background-image: url(../images/tab1_bj1.gif);
	padding-top: 2px;
}
