@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
.*{margin: 0px;
	padding: 0px;
	}
ol, ul, li {
    list-style: none;
	margin: 0px;
	padding: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.clear {
    clear: both;
    display: block;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
#heder_bj {
	background-color: #129bc7;
	background-image: url(../images/menu_footerbj.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 103px;
	padding-bottom: 15px;
}
#heder_logo_bj {
	height: 72px;
	float: left;
	width: 100%;
}
#heder_logo_bj_logo{
	background-image: url(../images/logo.gif);
	float: left;
	height: 72px;
	width: 700px;
}
#heder_bj_right {
	float: right;
	height: 72px;
	width: 280px;
}
#heder_menu_bj {
	background-color: #00a0de;
	background-image: url(../images/menu_bj.gif);
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #087ba3;
}

.heder_top_font1 {
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	width: 250px;
	text-align: right;
	float: left;
	margin-top: 10px;
}
.heder_top_font1 a:link {color: #d1eff9;}
.heder_top_font1 a:hover {color: #fff;;}
.heder_top_font1 a:active {color: #fff;;}
.heder_top_font1 a:visited {color: #d1eff9;;}

.heder_top_font2 {
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	width: 250px;
	text-align: right;
	float: left;
}

.heder_top_font2 a:link {color: #d1eff9;}
.heder_top_font2 a:hover {color: #fff;;}
.heder_top_font2 a:active {color: #fff;;}
.heder_top_font2 a:visited {color: #d1eff9;;}

/*menu*/
#menu_box {
	height: 28px;
	padding-left: 60px;
	background-color: #38bceb;
	background-image: url(../images/menu_bj.gif);
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #2d8aac;
	padding-top: 2px;
}
#mainMenu {
	float: left;
	width: 100%;
}
#mainMenu li {
	float: left;
	height: 28px;
	margin-left: 2px;
}
#mainMenu li a {
	font-size: 13px;
	display: block;
	float: left;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2px;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
}

#mainMenu li a .c {
	display: block;
	float: left;
	height: 28px;
	background-image: url(../images/menu_on_bj.gif);
	background-repeat: repeat-x;
	padding: 0;
	background-position: center;
}
#mainMenu li a .l {
	display: block;
	float: left;
	height: 28px;
	background-image: url(../images/menu_on_left.gif);
	padding: 0;
	width: 8px;
}
#mainMenu li a .r {
	display: block;
	float: left;
	height: 28px;
	background-image: url(../images/menu_on_right.gif);
	background-position: right center;
	padding: 0;
	width: 8px;
}

#mainMenu li a:hover {
	text-decoration: none;
	color: #095384;
}

#mainMenu li a:hover .l {
	background-image: url(../images/menu_li_left.gif);
}

#mainMenu li a:hover .r {
	background-image: url(../images/menu_li_right.gif);
}
#mainMenu li a:hover .c {
	display: block;
	float: left;
	height: 28px;
	background-image: url(../images/menu_li_bj.gif);
	background-repeat: repeat-x;
	padding: 0;
	background-position: center;
	}
	
#mainMenu li a:hover .c {
    cursor: pointer;
}


#mainMenu li a.hei {
	color: #095384;
}

#mainMenu li a.hei .l {
	background-image: url(../images/menu_li_left.gif);
	height: 28px;
}

#mainMenu li a.hei .r {
	background-image: url(../images/menu_li_right.gif);
	height: 28px;
}

#mainMenu li a.hei .c {
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
	display: block;
	float: left;
	height: 28px;
	background-image: url(../images/menu_li_bj.gif);
	background-repeat: repeat-x;
}

/* menu end */
