@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
	color: #777;
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #018dc9;
}
a:active {
	text-decoration: none;
	color: #777;
}
* {
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
    border: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}

#top_heder {
	background-color: #129bc7;
	height: 73px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #018dc9;
	height:100px;
}
#logo {
	float: left;
	height: 73px;
	width: 630px;
}
#top_heder_right {
	float: right;
	height: 80px;
	width: 400px;
}
#top_heder_right_font {
	float: right;
	height: 55px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 35px;
	color: #fff;
	width: 100%;
	text-align: right;
}
#top_heder_right_btn {
	height: 30px;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	float: right;
}
.btn_home {
	float: left;
	height: 30px;
	width: 77px;
	margin-left: 5px;
}
.btn_bbs {
	float: left;
	height: 30px;
	width: 97px;
	margin-left: 5px;
}

