<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/bsweb/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!--Encoding-->
    <filter>
        <filter-name>checkSQLInjection</filter-name>
        <filter-class>com.ninemax.jpa.util.CheckSQLInjection</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkSQLInjection</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>com.ninemax.jpa.util.clsCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>onlineFilter</filter-name>
        <filter-class>com.ninemax.jpa.system.action.OnlineFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>onlineFilter</filter-name>
        <url-pattern>/product/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.ninemax.jpa.global.ApplicationListener</listener-class>
    </listener>
            <listener>
        <listener-class>com.ninemax.tygs.service.ContractTimingTask</listener-class>
    </listener> 
    <!-- <listener>
         <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
     </listener>
     <servlet>
         <description>JAX-WS endpoint</description>
         <display-name>WSServlet</display-name>
         <servlet-name>WSServlet</servlet-name>
         <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
         <servlet-name>WSServlet</servlet-name>
         <url-pattern>/services/*</url-pattern>
     </servlet-mapping>-->
   <!-- <servlet>
        <servlet-name>XFireServlet</servlet-name>
        <servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/servlet/XFireServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>ScanServlert</servlet-name>
        <servlet-class>com.ninemax.jpa.code.service.ScanServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScanServlert</servlet-name>
        <url-pattern>/scan/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QzsmServlet</servlet-name>
        <servlet-class>com.ninemax.jpa.code.service.QzsmServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QzsmServlet</servlet-name>
        <url-pattern>/scan/qzsm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CodeAssignServlet</servlet-name>
        <servlet-class>com.ninemax.jpa.code.service.CodeAssignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CodeAssignServlet</servlet-name>
        <url-pattern>/code/assign</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScanEditServlert</servlet-name>
        <servlet-class>com.ninemax.jpa.code.service.ScanEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScanEditServlert</servlet-name>
        <url-pattern>/scan/update/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.ninemax.nacao.servlet.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/servlet/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownLoadAction</servlet-name>
        <servlet-class>com.ninemax.nacao.servlet.DownLoadAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownLoadAction</servlet-name>
        <url-pattern>/servlet/DownLoadAction</url-pattern>
    </servlet-mapping>
    <!-- 文件下载 -->
    <servlet>
        <servlet-name>DownServlet</servlet-name>
        <servlet-class>com.ninemax.nacao.servlet.DownServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownServlet</servlet-name>
        <url-pattern>/servlet/DownServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.RoleAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.GroupAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.UserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForbidwordAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.ForbidwordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteAction</servlet-name>
        <servlet-class>com.ninemax.jpa.code.action.AutoCompleteAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemMessageAction</servlet-name>
        <servlet-class>com.ninemax.nacao.servlet.SystemMessageAction</servlet-class>
    </servlet>

    <!--
    <servlet>
     <servlet-name>NewCpflAction</servlet-name>
     <servlet-class>com.ninemax.jpa.system.action.NewCpflAction</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>clsValidateCodeServlet</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.clsValidateCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RightKeyAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.RightKeyAction</servlet-class>
    </servlet>
    <!--
    <servlet>
     <servlet-name>ZSUserAction</servlet-name>
     <servlet-class>com.ninemax.jpa.system.action.ZSUserAction</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>CheckControlAction</servlet-name>
        <servlet-class>com.ninemax.jpa.collection.action.CheckControlAction</servlet-class>
    </servlet>

    <!-- yxf end
   flex -->
    <!--
    <servlet>
     <servlet-name>MessageBrokerServlet</servlet-name>
     <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
     <init-param>
      <param-name>services.configuration.file</param-name>
      <param-value>/WEB-INF/flex/services-config.xml</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
    </servlet>
    -->
    <!--flex
  zx start --><!--
 <servlet>
  <servlet-name>TaskAction</servlet-name>
  <servlet-class>com.ninemax.jpa.system.action.TaskAction</servlet-class>
 </servlet>
<servlet>
  <servlet-name>ImageAction</servlet-name>
  <servlet-class>com.ninemax.jpa.system.action.ImageAction</servlet-class>
 </servlet> -->
    <servlet>
        <servlet-name>SetLoginTimeAction</servlet-name>
        <servlet-class>com.ninemax.jpa.system.action.SetLoginTimeAction</servlet-class>
    </servlet>
    <!--
    <servlet>
     <servlet-name>EnterpriseQualityAction</servlet-name>
     <servlet-class>com.ninemax.jpa.collection.action.EnterpriseQualityAction</servlet-class>
    </servlet>
    <servlet>
     <servlet-name>ProductQualityAction</servlet-name>
     <servlet-class>com.ninemax.jpa.collection.action.ProductQualityAction</servlet-class>
    </servlet>
    -->
    <!-- zx end
  ck start --><!--
 <servlet>
  <servlet-name>ScZrxzqhAction</servlet-name>
  <servlet-class>com.ninemax.jpa.system.action.ScZrxzqhAction</servlet-class>
 </servlet>
 -->
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>scriptCompressed</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>allowScriptTagRemoting</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>classes</param-name>
            <param-value>java.lang.Object</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoleAction</servlet-name>
        <url-pattern>/action/RoleAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupAction</servlet-name>
        <url-pattern>/action/userGroupAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAction</servlet-name>
        <url-pattern>/action/UserAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForbidwordAction</servlet-name>
        <url-pattern>/action/ForbidwordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteAction</servlet-name>
        <url-pattern>/action/autoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemMessageAction</servlet-name>
        <url-pattern>/action/SystemMessageAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>clsValidateCodeServlet</servlet-name>
        <url-pattern>/action/ValidateCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RightKeyAction</servlet-name>
        <url-pattern>/action/RightKeyAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckControlAction</servlet-name>
        <url-pattern>/action/CheckControlAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetLoginTimeAction</servlet-name>
        <url-pattern>/action/SetLoginTimeAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>dsignstartupservlet</servlet-name>
        <servlet-class>cn.com.jit.assp.dsign.DSignStartupServlet</servlet-class>
        <init-param>
            <param-name>APP_PATH</param-name>
            <param-value>C:\\JIT\\DSIGN2.0</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GsUrlData</servlet-name>
    <servlet-class>com.ninemax.nacao.servlet.GsUrlData</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HqGssj_hzServlet</servlet-name>
    <servlet-class>com.ninemax.jpa.code.service.HqGssj_hzServlet</servlet-class>
  </servlet>

    <servlet-mapping>
        <servlet-name>dsignstartupservlet</servlet-name>
        <url-pattern>/dsignstartupservlet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GsUrlData</servlet-name>
    <url-pattern>/GsUrlData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HqGssj_hzServlet</servlet-name>
    <url-pattern>/servlet/HqGssj_hzServlet</url-pattern>
  </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/500.jsp</location>
    </error-page>
    <mime-mapping>
        <extension>tif</extension>
        <mime-type>image/tiff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>tiff</extension>
        <mime-type>image/tiff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>CAB</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>cab</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zip</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <!-- <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list> -->
</web-app>
