<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimburse.com.ninemax.sys.dao.SysAccountantDao">
    <sql id="pageWhere">
        <where>
            modifiedUser = #{user}
            <if test="title != null and title !=''">
                and (title like concat("%",#{title},"%") or reimburseId like concat("%",#{title},"%"))
            </if>
            <if test="examineState != null and examineState !=''">
                and examineState = #{examineState}
            </if>
        </where>
    </sql>
    <select id="findPageObjects" resultType="sysReimburse">
        select * from sys_reimburse
        <include refid="pageWhere"/>
        order by reimburseId desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getRowCount" resultType="int">
        select count(*) from sys_reimburse
        <include refid="pageWhere"/>
    </select>
    <select id="findAllByAccountant" resultType="sysReimburse">
        select *
        from sys_reimburse
        where modifiedUser = #{user}
    </select>
    <update id="doExamineById">
        update sys_reimburse
        set examineState = #{examineState}, modifiedTime = now()
        where id = #{id}
    </update>
</mapper>
