<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimburse.sys.dao.SysUserDao">
    <select id="findUserByUserName" resultType="sysUser">
        select *
        from user
        where username = #{username}
    </select>
</mapper>
