@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:12px;
    }
img{border:0;}
a{
	color:#000;
	text-decoration:none;
}
a:hover{color:#369;
text-decoration:underline;}
a,area {blr:expression(this.onFocus=this.blur()) }
:focus {-moz-outline-style: none; }
.headerTop{width:0;height:0;float:inherit;}
.font_weight{font-weight:bold;}
html,body{ background:#ffffff; height:100%;}

.clears{
	clear:both;
	line-height:0;
	height:0;
	overflow:hidden;
}
.left {
	float: left;
}
.pageLeft{
    line-height:25px;
}
.f_5 {
	margin-bottom: 5px;
}
.f_10 {
	margin-bottom: 10px;
}
.right {
	float: right;
}
.clearfix:after{
content:".";
height:0;
visibility:hidden;
display:block;
clear:both;
}

/*头部*/
#head-top{
	width:100%;
	width:expression(document.body.clientWidth <= 1000? "1000px": "auto" );
    min-width:1000px;
	height:90px;
	margin: 0;
	background-image: url(/images/zsds_top_bg.jpg);
    }
.top_left{
	height:90px;
	float: left;
}
.top_left h1{
	float:left;
	width:350px;
	/*background-repeat:10px center no-repeat;*/
}
html>body .top_left h1{
    background:url(/images/zsds_r2_c5.png) no-repeat 10px center;
}
*html .top_left h1{
	background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/zsds_r2_c5.png', sizingMethod='crop');
	}
.top_left h1 a{
	text-indent:-9999px;
	display:block;
	overflow:hidden;
	width:350px;
	height:90px;
	}
.top_right{
	float:right;
	margin-right:10px;
	width: 600px;
	height: 90px;
	}
.top_quit{
	width:120px;
	float:right;
	height: 85px;
	padding-top: 5px;

}
.top_quit li{
	float:left;/*	border:#F00 1px solid;	*/
	margin-top: 10px;
	width: 59px;
}
.top_quit li a{padding-left:24px;}
.quit_ic1{
	background:url(../images/per_quit.png) left top no-repeat;
	height: 23px;
}
.quit_ic2{background:url(../images/per_quit.png) left bottom no-repeat;
height: 23px;}

.top_menu{
	float:right;
	width: 480px;
	height: 75px;
	padding-top: 15px;
}
.top_menu ul {
	float: right;
}

.top_menu li{
	width:71px;
	height:55px;
	float:left;
	margin-right:9px;
	_margin-right:0px;
	display:inline;
	text-align:center;
}
.top_menu li a img{margin:3px 0;}
.top_menu li a {
	width:71px;
	margin-right:9px;
	height:55px;
	color:#FFF;
	font-weight:bold;
	display: block;
}
.top_menu li a:hover{
	background:url(../images/zsds_r3_c63.png) no-repeat;
	height:55px;
	width:71px;
	color:#D1D1D1;
	text-decoration:none;
}

/*.menu1_1 a{background:url(../images/menu01.png) bottom  left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:52px;height:72px;}
.menu1 a{background:url(../images/menu01.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu1 a:hover{background:url(../images/menu01.png) bottom left no-repeat;}
.menu2 a{background:url(../images/menu02.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu2 a:hover{background:url(../images/menu02.png) bottom left no-repeat;}
.menu3 a{background:url(../images/menu03.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu3 a:hover{background:url(../images/menu03.png) bottom left no-repeat;}
.menu4 a{background:url(../images/menu04.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu4 a:hover{background:url(../images/menu04.png) bottom left no-repeat;}
.menu5 a{background:url(../images/menu05.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu5 a:hover{background:url(../images/menu05.png) bottom left no-repeat;}
.menu6 a{background:url(../images/menu06.png) top left no-repeat; display:block;text-indent:-9999px;overflow:hidden;width:76px;height:66px;}
.menu6 a:hover{background:url(../images/menu06.png) bottom left no-repeat;}
*/
/*左侧*/
.leftbg_al{
	width:217px;
	background-image: url(/images/zsdsleft_r1_c1.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 100%;
}
#leftbg{
	background: #59b1fb;
	border:#c8e3fe 1px  solid;
	min-height:505px;
	width:215px;
	margin-bottom:4px;
	height: 100%;
}
#leftbg2{
	background:#7bc8f6;
	min-height:497px;
	margin:2px;
	padding:2px;
}
#left_main{
	background:#eff6ff;
	width:100%;
	min-height:495px;
	min-height:700px!important;
	height: 700px;
	padding-top: 10px;
}
.leftbg_al2{background: url(../images/zsdsleft_r1_c03.png) left bottom repeat-x; width:192px; margin:5px auto 0;}
#left_guest{width:190px;  border:#64c4ff 1px solid; background:url(../images/zsdsleft_r1_c02.png) repeat-x;margin-bottom:3px;}
.guest_bg{ height:44px; background:url(../images/zsds_r11_c5.png) 15px 5px no-repeat; padding:5px 0 0 50px; text-align:center; line-height:15px;}
/*?/
.line{background:url(../images/lines.png) repeat-x; height:2px; overflow:hidden; width:90%; margin:auto;}
.line2{ border-bottom:1px dashed  #C00;}
.gust_menu{width:180px; margin:3px auto 0;}
.gust_menu li{width:62px; float:left; display:inline;  height:24px; margin-left:15px; vertical-align:middle;}
.gust_menu li a{
	display:block;
	width:57px;
	height:24px;
	padding-left: 5px;
}
.gust_menu li a img{ top:-50%; left:-50%;}
.gust_menu li a:hover{ background:url(../images/zsds_r12_c18.png) no-repeat;}
/*.gust_menu_01{background:url(../images/zsds_r23_c8.png) no-repeat;}
.gust_menu_02{background:url(../images/zsds_r24_c15.png) no-repeat;}
.gust_menu_03{background:url(../images/zsds_r28_c8.png) no-repeat;}
.gust_menu_04{background:url(../images/zsds_r28_c15.png) no-repeat;}
tab*/
.line{background:url(../images/lines.png) repeat-x; height:2px; overflow:hidden; width:90%; margin:auto;}
#cs{width:198px;  margin:5px 0 0 5px; }
.tabs {float:left; width:31px;}
.tabs li {
	background-image: url(../images/zsds_r58_c131.png);
	background-repeat: no-repeat;
    margin-bottom:3px;
}

.tabs li a{
	display:block;
	width:22px;
	height:65px;
	text-align:center;
	text-decoration:none;
	background-repeat: no-repeat;
	background-position: left top;
}
.tabs li a:hover{
    height:65px;
	display:block;
	text-decoration:none;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: url(../images/zsds_r58_c131.png);
}
.tabs .current  {
    height:65px;
	background-image: url(../images/zsds_r57_c16.png);
	background-repeat: no-repeat;
}

.tabs li img{margin-top:4px; margin-bottom:2px;}
.tabs_linheight{line-height:14px;}
.Contentbox1{
	float:right;
	width:167px;
	min-height:335px;
	z-index:-10;
}
.titlbg_al{width:155px;margin:0 auto;background: url(../images/zsdsleft_r1_c03.png) left bottom repeat-x;}


.titl_bg img{margin:0 10px; vertical-align:middle;}
.titl_bg{background:url(../images/zsdsleft_r1_c04.png) top no-repeat; width:155px; height:31px;  margin:5px auto 0; line-height:31px; }
.titl_bg span {
	line-height: 24px;
	height:24px;
	display:block;
	padding-top:5px;
}

.titl{width:153px;  border-bottom:#438ccd 1px solid; border-left:#438ccd 1px solid; border-right:#438ccd 1px solid; margin-bottom:3px;}
.titl ul{width:153px; margin: auto; padding:2px 0;}
.titl li{height:23px; line-height:23px;color:#505b9d;}
.titl li img{margin-right:10px; vertical-align:middle;}
.titl li a{display:block; height:23px; color:#505b9d; line-height:23px; text-decoration:none; padding-left:30px;}
.titl a:hover{color:#505b9d; background:#d8edff; border-top:1px solid #90ccff; border-bottom:1px solid #90ccff;}


.ts li{background:url(../images/ts.png) bottom repeat-x;}
/*list--------------*/
#list_main{
	margin: 13px;
    min-width: 760px;width: expression(document.body.clientWidth < 760? "760px": "98%" )/*�?��宽度设置*/;
}
.list_box {
	background-color: #eff6ff;
	border: 1px solid #666;
	background-image: url(../images/list_box_t_c.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding: 0px;
}
.list_box_top {
	font-size: 12px;
	font-weight: bold;
	color: #37517b;
	height: 24px;
	line-height: 24px;
	padding: 2px;
	margin: 10px;
}
.list_table_top{ font-size: 12px; font-weight:bold; line-height: 26px; color: #333; background:#e4f1fc;	text-align: left; text-indent: 3px;	height: 26px;}
.list_table_top_td {
	background-image: url(../images/list_table_top_li.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.list_tr {
	font-size: 12px;
	line-height: 25px;
	color: #000;
	background-image: url(../images/list_tr.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;
	text-indent: 3px;
	height: 25px;
	background-color: #fff;
}
.list_tr2 {
	font-size: 12px;
	line-height: 25px;
	color: #000;
	background-image: url(../images/list_tr.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;
	text-indent: 3px;
	height: 25px;
	background-color: #eee;
}
.list_tr:hover,.list_tr2:hover{background-color: #ffffde;}

.list_btn_chaxun{
	background-image: url(../images/btn_chaxun.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 53px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor:pointer;
}
.list_btn_xinzun{
	background-image: url(../images/btn_xinzun.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 53px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor:pointer;
}
.list_ym {
	background-image: url(../images/title_bg.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding: 4px;
}
.list_ym_btn {
	line-height: 19px;
	background-image: url(../images/list_yema_btn.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 52px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.list_ym_btngo {
	line-height: 19px;
	background-image: url(../images/list_yema_go.gif);
	height: 19px;
	width: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.input_ym {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 17px; line-height:17px;
	width: 30px;
	border: 1px solid #aaa;
}

.input_120 {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 18px;
	width: 120px;
	border: 1px solid #88a6d4;
	padding-top: 1px;
	padding-left: 1px;
}
.input_txt_more {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:100%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	height:18px;
}

.input_txt_morebz {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:99%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	line-height:18px;

}

/*list   end----------------*/
.page_top {
	font-size: 14px;
	line-height: 30px;
	color: #0b3577;
	background-image: url(../images/page_top_bj.gif);
	background-repeat: repeat-x;
	text-align: left;
	text-indent: 10px;
	height: 30px;
}

.page_box {
	width: 100%;
	float: left;
}
.page_box_top{
	height: 34px;
	width:100%;
	background-image: url(../images/zsds_r29_c24.png);
	background-repeat: repeat-x;
	}
.page_box_top_left{
	height:32px;
	float:left;
	width:7px;
	background-image: url(../images/zsds_r29_c23.png);
	background-repeat: no-repeat;
}
.page_box_top_right{
	height: 34px;
	float:right;
	display:inline;
	background-image: url(../images/zsds_r29_c42.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.page_top_img{
	margin-top:5px;
	margin-right: 5px;
}

.page_box_top h1 img{
	padding-top: 11px;
	padding-left: 10px;
	float: left;
}
.page_box_top h1{
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-align: left;
}
.page_box_top span{
	font-size: 12px;
	line-height: 36px;
	color: #158abf;
	float: right;
	text-align: left;
	margin-right: 5px;
	padding-top: 5px;
}
.page_div{
	background-color: #eff6ff;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #438ccd;
	border-bottom-color: #438ccd;
	border-left-color: #438ccd;
	padding: 10px;
}

.page_divhaojy{
	background-color: #eff6ff;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #438ccd;
	border-bottom-color: #438ccd;
	border-left-color: #438ccd;
	padding: 10px;
	padding-top: 0px;
}
.title_left {
	background-image: url(../images/title_l.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 8px;
}
.title_txt {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	background-image: url(../images/tltle_c.png);
	background-repeat: repeat-x;
	height: 24px;
	padding-right: 10px;
	padding-left: 10px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src=../images/tltle_c.png);



}
.title_r {
	background-image: url(../images/title_r.gif);
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
}
.table_box1 {
	background-color: #fff;
	border: 1px solid #b2bce4;
	padding: 10px;
}
.table_box2 {
	background-color: #fff;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #b2bce4;
	border-left-color: #b2bce4;
}
.table_tr1 {
	font-size: 12px;
	line-height: 25px;
	color: #000;
	height: 25px;
}
.input_xian {
	font-size: 12px;
	line-height: 25px;
	background-color: #fff;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #c6ced1;
	width: 100%;
	color: #666;
	text-align: left;
	text-indent: 3px;
}
/*btn*/
.btn1 {
	width: 52px;
	height: 23px;
	line-height: 23px;
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
	cursor: hand;
	background-image: url(../images/btn2.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.btn1:hover {
	background-position: 0 -23px;
}
.btn1:active {
	background-position: 0 -46px;
}
/*btn  end*/


.input_txt_more_bgred {
	background:#FE8A8A;
	width: 99%;
	border: 1px solid #88a6d4;
	padding: 1px;
	height:18px;

}


.input_txt_more_bgyello {
	background:#FFC;
	width: 99%;
	border: 1px solid #88a6d4;
	padding: 1px;
	height:18px;

}

.input_txt_more_bgred98 {
	background:#FE8A8A;
	width: 98%;
	border: 1px solid #88a6d4;
	padding: 1px;
	height:18px;
}

.input_120center {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background:repeat-x;
	background-position: left top;
	height: 18px;
	width: 95%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}

.input_121center {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background:repeat-x;
	background-position: left top;
	height: 18px;
	width: 90%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}

.input_121center85 {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background:repeat-x;
	background-position: left top;
	height: 18px;
	width: 85%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}

.input_121centerred {
	background:#FE8A8A;
	background-position: left top;
	height: 18px;
	width: 90%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}
.input_121centerred1 {
	background:#FE8A8A;
	background-position: left top;
	height: 18px;
	width: 95%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}

.input_121centerred85 {
	background:#FE8A8A;
	background-position: left top;
	height: 18px;
	width: 85%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;

}

.input_121centerRedDel {
	background:#FE8A8A;
	background-position: left top;
	height: 18px;
	width: 90%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;

}

.input_121center {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background:repeat-x;
	background-position: left top;
	height: 18px;
	width: 90%;
	border: 1px solid #88a6d4;
	*border:1px solid #88a6d4;
	padding-left:1px;
	padding-top: 1px;
}



.input_120date {
	background-image: url(../images/input_bj.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 18px;
	width: 95px;
	border: 1px solid #88a6d4;
	padding-top: 1px;
	padding-left: 1px;
}

.input_txt_more98 {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:98%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	height:18px;
}


.input_txt_more99 {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:99%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	height:18px;
}

.input_txt_more98new {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:98%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	line-height:18px;

}

.input_txt_more97 {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:97%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	height:18px;
}

.input_txt_more95 {
	background-image: url(../images/input_bj2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width:95%;
	border: 1px solid #88a6d4;
	background-color: #f5f8fc;
	padding: 1px;
	height:18px;
}

/*list_tab*/
.list_tabs {height:40px;}

.list_tabs ul{
	margin:0px;
	padding:0px;
	list-style: none;
}
.list_tabs li{float:left;cursor:pointer;width:184px;line-height:40px; text-align:center; background:url(../images/listtab.png) left top no-repeat; margin-right:10px; display:inline; font-size:14px; color:#FFF; font-weight:bold;}
.list_tabs li.hover{background:url(../images/listtab.png) left bottom no-repeat;color:#000;}
.list_Contentbox1{clear:both;border:1px #b2bce4 solid;padding:5px; }
.bottom_border td{ border-bottom:1px dashed #bbbbbb;}
.m_t{margin-top:15px;}
.im_m{margin:3px;}

.tableBorder0{ margin:0px auto;}