body {
	background-image: url(/image_publish/page_bj.gif);
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
#page_heder {
	height: 230px;
	width: 1000px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}

img {
    vertical-align: middle;
    border: 0;
}
*{margin: 0px;
	}
ol, ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #338acd;
	text-decoration: none;
}
a:active {
	color: #333;
	text-decoration: none;
}
.clear {
    clear: both;
    display: block;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
#page_site {
	font-size: 12px;
	line-height: 23px;
	color: #eaf7fe;
	background-image: url(/image_publish/page_site.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 1000px;
	text-indent: 35px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}
#page_site a:link {
	color: #fff;
	text-decoration: none;
}
#page_site a:visited {
	color: #fff;
	text-decoration: none;
}
#page_site a:hover {
	color:#fffc00;
	text-decoration: none;
}
#page_main {
	background-image: url(/image_publish/page_main_top.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: auto;
	width: 1000px;
	padding-top: 2px;
	background-color: #fff;
}
#page_main_box {
	background-color: #f7fcff;
	background-image: url(/image_publish/page_main_right.gif);
	background-repeat: repeat-y;
	background-position: right;
	width: 960px;
	padding: 10px 20px 20px 20px;
	float: left;
}
#page_main_box_search {
	background-color: #f7fcff;
	background-image: url(/image_publish/page_main_right.gif);
	background-repeat: repeat-y;
	background-position: right;
	width: 960px;
	padding: 20px;
	float: left;
}
.page_news {
	margin-bottom: 20px;
	line-height: 24px;
}
.page_news h1{
	font-size: 20px;
	line-height: 24px;
	color: #333;
	text-align: center;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #b0cae3;
	margin-bottom: 10px;
	font-weight: bold;
}
.page_news h2{
	font-size: 12px;
	line-height: 22px;
	color: #666;
	text-align: center;
	margin-bottom: 20px;
}
.page_news p{
	font-size: 14px;
	line-height: 24px;
	text-indent: 2em;
	color: #000;
	margin-bottom: 10px;
}

.page_news dl{
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 15px;
	width: 100%;
}
#page_right {
	float: right;
	width: 320px;
	padding-top: 10px;
}
.page_right_box1 {
	border: 1px solid #c9e5f7;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width:320px;
}
.page_right_box1 p{
	float: left;
	width: 130px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 15px;
	_margin-left: 9px;
}
.page_right_box1 p span{
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	width: 130px;
}
.page_right_box1 p img{
	padding: 2px;
	height: 86px;
	width: 126px;
	border: 1px solid #ccc;
}
.page_right_box1 h1{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #2f6fa1;
	background-image: url(/image_publish/page_top2.gif);
	background-repeat: repeat-x;
	height: 30px;
	text-indent: 10px;
}
.page_right_box1 h1 span{
	font-size: 12px;
	line-height: 30px;
	float: right;
	padding-right: 10px;
}
.page_right_box1 h1 span a:link,.page_right_box1 h1 span a:active,.page_right_box1 h1 span a:visited {
	color: #338acd;
	text-decoration: none;
}
.page_right_box1 h1 span a:hover {
	color: #333;
	text-decoration: none;
}
.page_right_box1 ul{
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.page_right_box1 ul li{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-image: url(/image_publish/dd1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}

.page_right_box2 {
	border: 1px solid #c9e5f7;
	margin-bottom: 10px;
}
.page_right_box2 h1{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #2f6fa1;
	background-image: url(/image_publish/page_top1.gif);
	background-repeat: no-repeat;
	height: 30px;
	text-indent: 10px;
}
.page_right_box2 h1 span{
	font-size: 12px;
	line-height: 30px;
	float: right;
	padding-right: 10px;
}
.page_right_box2 h1 span a:link,.page_right_box2 h1 span a:active,.page_right_box2 h1 span a:visited {
	color: #338acd;
	text-decoration: none;
}
.page_right_box2 h1 span a:hover {
	color: #333;
	text-decoration: none;
}
.page_right_box2 ul{
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.page_right_box2 ul li{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-image: url(/image_publish/dd1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}



.page_right_box3 {
	border: 1px solid #c9e5f7;
	margin-bottom: 10px;
	width:324px;
	float:left;
}
.page_right_box3 h1{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #2f6fa1;
	background-image: url(/image_publish/page_top1.gif);
	background-repeat: no-repeat;
	height: 30px;
	text-indent: 10px;
}
.page_right_box3 h1 span{
	font-size: 12px;
	line-height: 30px;
	float: right;
	padding-right: 10px;
}
.page_right_box3 h1 span a:link,.page_right_box2 h1 span a:active,.page_right_box2 h1 span a:visited {
	color: #338acd;
	text-decoration: none;
}
.page_right_box3 h1 span a:hover {
	color: #333;
	text-decoration: none;
}
.page_right_box3 ul{
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.page_right_box3 ul li{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-image: url(/image_publish/dd1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}
/*pange_number*/
#pange_number {
	font-size: 14px;
	line-height: 30px;
	color: #1e50a2;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #b0cae3;
	text-align: center;
	margin-bottom: 20px;
}
#pange_number a:link,#pange_number a:visited, #pange_number a:active {
	color: #1e50a2;
	text-decoration: none;
}
#pange_number a:hover {
	color: #333;
}
#message {
	margin-bottom: 20px;
}
#message dl{
	font-size: 12px;
	line-height: 20px;
	color: #333;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
	margin-bottom: 10px;
}
#message h1{
	font-size: 12px;
	line-height: 25px;
}
#message p{
	font-size: 12px;
	line-height: 24px;
	color: #999;
	margin-bottom: 5px;
}
#message p span{
	float: right;
	width: 70px;
}
.message_input {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: 18px;
	width: 100px;
	border: 1px solid #d6d6d6;
}
.message_txt {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: 80px;
	width: 100%;
	border: 1px solid #d6d6d6;
}
.logoin_btn2 {
	background-image: url(/image_publish/logonin_btn2.gif);
	height:20px;
	width: 50px;
	border: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	color:#edf5f9;
	clip: rect(auto,4px,auto,auto);
	margin-right: 4px;
	line-height: 18px;
}
.btn_fabu {
	background-image: url(/image_publish/btn_fabu.gif);
	height:25px;
	width: 70px;
	border: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	color:#edf5f9;
	clip: rect(auto,4px,auto,auto);
	margin-right: 4px;
	line-height: 18px;
}
#footer {
	margin: auto;
	height: 100px;
	width: 1000px;
	padding-top: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3480b8;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	color: #666;
}
#page_list {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
}
#page_list ul {
}
#page_list ul li{
	font-size: 14px;
	line-height: 25px;
	background-image: url(/image_publish/dd_list.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-left: 10px;
}
#page_list ul li span{
	font-size: 12px;
	line-height: 25px;
	color: #999;
	float: right;
}
.r_10{
	margin-right:10px;
}
.title_2 {
	background-image: url(/image_publish/title_2.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 1000px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	text-align: center;
}
.title_2 h1{
	font-family: ºÚÌå, ËÎÌå;
	font-size: 20px;
	line-height: 35px;
	font-weight: bold;
	color: #e5f8ff;
	text-align: center;
	float: left;
	height: 35px;
	width: 140px;
	padding-left: 25px;
}
.page_right_box4 {
	border: 1px solid #c9e5f7;
	margin-bottom: 10px;
	width:324px;
	float:left;
}
.page_right_box4 h1{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #2f6fa1;
	background-image: url(/image_publish/page_top2.gif);
	background-repeat:repeat-x;
	height: 30px;
	text-indent: 10px;
}
.page_right_box4 h1 span{
	font-size: 12px;
	line-height: 30px;
	float: right;
	padding-right: 10px;
}
.page_right_box4 h1 span a:link,.page_right_box2 h1 span a:active,.page_right_box2 h1 span a:visited {
	color: #338acd;
	text-decoration: none;
}
.page_right_box4 h1 span a:hover {
	color: #333;
	text-decoration: none;
}
.page_right_box4 ul{
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.page_right_box4 ul li{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	background-image: url(/image_publish/dd1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}
.page_right_box4 ul li span{
	font-size: 12px;
	float: right;
	line-height: 24px;
	color: #999;
}