@charset "utf-8";
body{ margin:0px; padding:0px; font-size:12px;}
*{ margin:0px; padding:0px; color:#000;}
.container{width:600px; margin:0px auto; background:#fff; padding:10px;}
table{ border-collapse:collapse; width:100%;}
tr{ line-height:180%;}
th{ font-weight:normal; padding:2px 0px;}
td{ padding:2px 0px;}
.w50{ padding-left:50px;}
.w60{ padding-left:60px;}
.w70{ padding-left:70px;}
.w80{ padding-left:80px;}
.w90{ padding-left:90px;}
.w100{ padding-left:100px;}
.line50{ padding-left:50px; border-bottom:#000 solid 1px;}
.line100{ padding-left:100px; border-bottom:#000 solid 1px;}
em{ font-style:normal; text-decoration:underline;}