html{ margin:0px; height:0px; min-height:100%;}
body{ margin:0px; padding:0px; height:100%; background:#fff url(/images/login/body_bg.jpg) center bottom no-repeat; background-size:100% auto; font-family:Arial,"宋体";}
*{ margin:0px; padding:0px;}
img{ border:none;}
a{ text-decoration:none; color:#000;}
a:hover{ text-decoration:underline;}
.screen{ width:100%; height:558px; margin:0px auto; background:url(/images/login/top_bg.jpg) repeat-x; position:relative;}
.screen form{ height:100%;}
.content{ width:100%; height:558px; margin:0px auto; background:url(/images/login/content_bg.jpg) center no-repeat; background-size:auto 100%; position:relative;}
.heading{ width:800px; height:75px; position:absolute; left:50%; margin-left:-385px; top:100px; text-align:center;}
.heading img{ display:inline-block; vertical-align:middle;}
.heading h3{ display:inline-block; text-align:center; font:bold 37px/75px Microsoft yahei; color:#fff; white-space:nowrap; vertical-align:middle; padding:0px 10px;}
.login{ width:510px; border-radius:5px; background:#fff url(/images/login/please_login.jpg) top center no-repeat; box-shadow:0px 5px 10px rgba(0,0,0,0.3); position:absolute; top:200px; left:0px; right:0px; margin:auto;}
.login h3{ width:100%; height:60px; text-align:right;}
.login h3 a{ display:inline-block; line-height:20px; font-size:12px; font-weight:normal; margin:10px 10px 0px 0px;}
.login ul{ list-style:none; width:421px; margin:0px auto;}
.login ul li{ width:100%; box-sizing:border-box; margin:10px 0px 20px 0px;}
.login ul li label{ display:block; font:lighter 20px/40px Microsoft yahei; color:#333;}
.login ul li p{ width:100%; min-height:57px; position:relative;}
.login ul li p input{ border:0 none; border-radius:5px; background:#fff; outline:none; display:inline-block; margin-right:20px; font-size:18px; float:left;}
.wid1{ background:url(/images/login/input_bg1.jpg) no-repeat;}
.wid2{ background:url(/images/login/input_bg2.jpg) no-repeat;}
.wid3{ background:url(/images/login/input_bg3.jpg) no-repeat;}
.inp1{ width:340px; height:45px; line-height:45px; margin:5px 0px 0px 70px;}
.inp2{ width:130px; height:45px; line-height:45px; margin:5px 0px 0px 70px;}
.login ul li p img{ display:inline-block; margin:12px 10px 0px 0px;}
.login ul li p a{ float:left; color:#fff; font-size:12px; line-height:32px;}
.login ul li p em{ font-size:12px; color:#f00; display:inline-block; line-height:32px; margin-top:12px; font-style:normal;}
.login ul li p span{ font-size:12px; color:#333;}
.login ul li p input.login_btn{ display:block; width:263px; height:69px; margin:0px auto; text-indent:-10000px; cursor:pointer; float:none;}
.login ul li p input.login_btn{ background:url(/images/login/login_btn.jpg) no-repeat;}