body {
	margin: 0px;
	background-color: #ffffff;
}
img {
    vertical-align: middle;
    border: 0;
}
*{margin: 0px;
	}
ol, ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #0292cb;
	text-decoration: none;
}
a:active {
	color: #333;
	text-decoration: none;
}
.clear {
    clear: both;
    display: block;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
.input_in {
	-moz-border-radius:2px 2px 2px 2px;
	border-color:#778899 #AABBCC #AABBCC #8899AA;
	border-style:solid;
	border-width:1px;
	color:#336699;
	padding:2px 2px 3px;
	vertical-align:middle;
	background-attachment: scroll;
	background-color: #F7FAFC;
	
}
.input_in:hover{border-color:#00ccff ;
 }
.btn_page {
	background-image: url(/image_publish/btn_page.gif);
	height:25px;
	width: 71px;
	border: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
	color:#2978bb;
	clip: rect(auto,4px,auto,auto);
	margin-right: 4px;
}
.btn_page:hover {
    background-position: 0 -25px;
	color:#fff;
}
.btn_page:active {
	color:#333;
    background-position: 0 -50px;

}
#heder {
	background-image: url(/image_publish/heder_bj.jpg);
	height: 230px;
	width: 1000px;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}
.heder_top {
	font-size: 12px;
	line-height: 23px;
	color: #fff;
	height: 23px;
	width: 612px;
	padding-left: 386px;
}
.heder_top a:hover {
	color: #d3f9fd;
}
.heder_top a:link,.heder_top a:visited,.heder_top a:active {
	color: #fff;
}
.logoin_input {
	border: 1px solid #3f8fbc;
	background-color: #d4f1f9;
	height: 16px;
	width: 80px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 0px;
}
.logoin_btn {
	background-image: url(/image_publish/logoin_btn.gif);
	height:18px;
	width: 50px;
	border: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	color:#edf5f9;
	clip: rect(auto,4px,auto,auto);
	margin-right: 4px;
	line-height: 18px;
}
.logoin_btn:hover {
    background-position: 0 -18px;
	color:#fff;
}
.logoin_btn:active {
	color:#fff;
    background-position: 0 -36px;

}
.heder_sousuo {
	width: 215px;
	padding-top: 100px;
	padding-left: 780px;
	height: 27px;
	padding-bottom: 10px;
}
.sou_btn {
	background-image: url(/image_publish/btn_sousuo.gif);
	height:23px;
	width: 60px;
	border: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	color:#edf5f9;
	clip: rect(auto,4px,auto,auto);
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	float: left;
}
.sou_btn:hover {
    background-position: 0 -23px;
}
.sou_btn:active {
    background-position: 0 -46px;

}
.sou_input {
	height: 21px;
	width: 145px;
	padding: 0px;
	background-image: url(/image_publish/input_sou_bj.gif);
	background-repeat: repeat-x;
	margin: 0px;
	float: left;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #146daf;
	border-bottom-color: #146daf;
	border-left-color: #146daf;
	line-height:21px;
}
.body_main {
	margin: auto;
	width: 1000px;
}
#body_main_left {
	float: left;
	width: 160px;
}
#body_main_right {
	float: right;
	width: 830px;
}

/*---menu---*/
.home_menu {
	background-image: url(/image_publish/menu_bj2.gif);
	height: 75px;
	width: 990px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.choose {
	clear:both;
	overflow:hidden;
	position:relative;
	height: 23px;
	margin-bottom: 1px;
}
.choose dt {
	clear:both;
	color:#f0f9ff;
	float:left;
	font-size:14px;
	padding-right: 0;
	width: 100px;
	margin: 0;
	line-height: 23px;
	font-weight: bold;
	height: 23px;
	padding-left: 30px;
}
.choose dt a:link{
	color:#f0f9ff;
}
.choose dt a:visited{
	color:#f0f9ff;
}
. dd {
float:left;
line-height:18px;
margin:5px 0 0;

}
.choose dd a {
	display:block;
	color:#333;
	float:left;
	font-size:14px;
	line-height:20px;
	white-space:nowrap;
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
}
.m_li{
	background-image: url(/image_publish/menu_li.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.choose dd a:hover {
color:#2a95d6;
}
/*---menu end---*/

