body {
	background-color: #fafafa;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
/*
HTML {
	OVERFLOW-Y: scroll
}
*/
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.panel {
	BACKGROUND: #d6e4ef; COLOR: #000000
}
#expand_link {
	FONT-SIZE: 9pt; LEFT: 140px; POSITION: absolute; TOP: 11px; TEXT-DECORATION: underline
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}
#body {
	float: left;
	height: auto;
	width: 180px;
}
#menu {

}
.U1 {

}
.L0{
	height: 25px;
	line-height: 25px;
	margin-bottom: 5px;
}
.L0 A:link {
	DISPLAY: block;
	FONT-SIZE: 12px;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	line-height: 25px;
}
.L0 A:visited {
	DISPLAY: block;
	FONT-SIZE: 12px;
	COLOR: #fff;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	background-image: url(../images/tree_img_on.gif);
	line-height: 25px;
	font-weight: bold;
	background-repeat: repeat-x;
}
.L0 A:hover {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/tree_img_on.gif);
	background-repeat: repeat-x;
	height: 25px;
}
.L0 A.active:link {
	BACKGROUND: url(../images/tree_0_on.gif) 0px -20px;
	color: #333;
}
.L0 A.active:hover {
	BACKGROUND: url(../images/tree_0_on.gif) 0px -20px;
	color: #000;
}
.L0 A.active:active {
	BACKGROUND: url(../images/tree_0_on.gif) 0px -20px
}
.L0 A.active:visited {
	BACKGROUND: url(../images/tree_0_on.gif) 0px -20px
}
.L0 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 0px;
	HEIGHT: 20px
}
.L0 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	HEIGHT: 20px;
	padding-top: 0px;
}
.L1{
	height: 25px;
	line-height: 25px;
	margin-bottom: 1px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
.L1 A:link {
	DISPLAY: block;
	FONT-SIZE: 12px;
	COLOR: #666;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	background-image: url(../images/tree_0.gif);
	line-height: 25px;
	background-repeat: repeat-x;
}
.L1 A:visited {
	DISPLAY: block;
	FONT-SIZE: 12px;
	COLOR: #fff;
	TEXT-DECORATION: none;
	background-image: url(../images/tree_0_on.gif);
	line-height: 25px;
	background-repeat: repeat-x;
	height: 25px;
}
.L1 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 0px;
	HEIGHT: 25px;
	background-image: url(../images/ar.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.L1 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	HEIGHT: 25px;
	padding-top: 0px;
	background-image: url(../images/ar.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.L1 A:hover {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/tree_0_on.gif);
	background-repeat: repeat-x;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}
.L1 A.active:link {
	color: #fff;
	background-image: url(../images/tree_0_on.gif);
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}
.L1 A.active:hover {
	color: #fff;
	background-image: url(../images/tree_0_on.gif);
	background-repeat: repeat-x;
	height: 25px;
}
.L1 A.active:active {
	color: #fff;
	background-image: url(../images/tree_0_on.gif);
	background-repeat: repeat-x;
	height: 25px;
}
.L1 A.active:visited {
	background-image: url(../images/tree_0_on.gif);
	height: 25px;
	color: #fff;
}
.L1 A.active:link SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
}
.L1 A.active:hover SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.L1 A.active:active SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.L1 A.active:visited SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
.L21 A:link {
	DISPLAY: block;
	PADDING-LEFT: 25px;
	FONT-SIZE: 12px;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	background-image: url(../images/tree_1.gif);
	background-repeat: repeat-x;
	line-height: 25px;
}
.L21 A:visited {
	DISPLAY: block;
	PADDING-LEFT: 25px;
	FONT-SIZE: 12px;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0% 0%;
}
.L21 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 25px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 4px;
	line-height: 25px;
	background-image: url(../images/ar.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L21 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 25px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 5px;
	background-image: url(../images/ar.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L21 A:hover {
	FONT-WEIGHT: bold;
	color: #000;
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L21 A.active:link {
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L21 A.active:hover {
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L21 A.active:active {
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L21 A.active:visited {
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L21 A.active:link SPAN {
	FONT-WEIGHT: bold;
	COLOR: #000000;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L21 A.active:hover SPAN {
	FONT-WEIGHT: bold;
	COLOR: #000000;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L21 A.active:active SPAN {
	FONT-WEIGHT: bold;
	COLOR: #000000;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L21 A.active:visited SPAN {
	FONT-WEIGHT: bold;
	COLOR: #000000;
	background-image: url(../images/ad.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.L22 A:link {
	DISPLAY: block;
	PADDING-LEFT: 13px;
	FONT-SIZE: 12px;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	line-height: 25px;
	background-image: url(../images/tree_1.gif);
	background-repeat: repeat-x;
}
.L22 A:visited {
	DISPLAY: block;
	PADDING-LEFT: 13px;
	FONT-SIZE: 12px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	line-height: 25px;
}

.L22 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	BACKGROUND: url(../images/ico/ar.gif) no-repeat left center;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 5px;
	font-size: 12px;
	line-height: 25px;
}
.L22 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	BACKGROUND: url(../images/ico/ar.gif) no-repeat left center;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 5px;
	font-size: 12px;
	line-height: 25px;
}
.L22 A:visited SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L22 A:hover {
	FONT-WEIGHT: bold;
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
	color: #666;
}
.L22 A.active:link {
	background-image: url(../images/tree_1.gif);
	background-repeat: repeat-x;
}
.L22 A.active:hover {
	background-image: url(../images/tree_1_on.gif);
	background-repeat: repeat-x;
}
.L22 A.active:active {
	background-image: url(../images/tree_1.gif);
	background-repeat: repeat-x;
}
.L22 A.active:visited {
	background-image: url(../images/tree_1.gif);
	background-repeat: repeat-x;
}
.L22 A.active:link SPAN {
	FONT-WEIGHT: bold;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #333
}
.L22 A.active:hover SPAN {
	FONT-WEIGHT: bold;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #333
}
.L22 A.active:active SPAN {
	FONT-WEIGHT: bold;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #333
}
.L22 A.active:visited SPAN {
	FONT-WEIGHT: bold;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #333
}
.L3 A:link {
	DISPLAY: block;
	PADDING-LEFT: 13px;
	FONT-SIZE: 12px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	line-height: 25px;
}
.L3 A:visited {
	DISPLAY: block;
	PADDING-LEFT: 13px;
	FONT-SIZE: 12px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #444659;
	HEIGHT: 25px;
	TEXT-DECORATION: none;
	line-height: 25px;
}

.L3 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	BACKGROUND: url(../images/ico/ar.gif) no-repeat left center;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 4px;
	line-height: 25px;
}
.L3 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 16px;
	BACKGROUND: url(../images/ico/ar.gif) no-repeat left center;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: middle;
	WIDTH: 100%;
	CURSOR: hand;
	PADDING-TOP: 4px;
	line-height: 25px;
	height: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.L3 A:link SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.L3 A:visited SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

.L3{
	height: 20px;
	margin-bottom: 2px;
	line-height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 2px;
}
.L3 A:hover {
	FONT-WEIGHT: bold;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #fff;
	background-color: #00a3e1;
}
.L3 A:link SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 26px;
	PADDING-BOTTOM: 0px;
}
.L3 A:visited SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 26px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.L3 A.active:link {
	font-weight: bold;
	color: #fff;
	background-color: #00a3e1;

}
.L3 A.active:hover {
	color: #fff;
	background-color: #00a3e1;
}
.L3 A.active:active {
	color: #fff;
	background-color: #00a3e1;
}
.L3 A.active:visited {
	BACKGROUND: url(../images/btn/menu2_bg.png) no-repeat 0px -20px
}
.L22 A:link SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	line-height: 20px;
}

.L3 A.active:link SPAN {
	FONT-WEIGHT: bold;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #fff
}
.L3 A.active:hover SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-color: #00a3e1;
}
.L3 A.active:active SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-color: #00a3e1;
}
.L3 A.active:visited SPAN {
	FONT-WEIGHT: bold;
	COLOR: #fff;
	background-color: #00a3e1;
}
.Ls A:link {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:visited {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:hover {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.Ls A:active {
	PADDING-RIGHT: 4px; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
#bottom {
	BACKGROUND: url(../images/img/menu_bottom_bg.gif) no-repeat; HEIGHT: 80px
}



.left_box_top {
	background-image: url(../images/tree_0_on.gif);
	background-repeat: repeat-x;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: fff;
	height: 20px;
}
.left_box_top_img{
	height: 13px;
	width: 13px;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}
.left_box_top_left{
	float: left;
	text-align: center;
	width: 140px;
}
.left_tr1 {
	background-image: url(../img/left_menu2_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #e2edf5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
}

.left_tr1:hover {
	background-image: url(../images/img/left_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #b7d2e5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
}
.left_tr1_img {
	height: 16px;
	width: 16px;
	margin: 2px;
	float: left;
	display: inline;
}
.left_tr1_font {
	font-size: 12px;
	line-height: 20px;
	color: #006699;
	float: left;
	width: 100px;
	text-align: left;
	text-indent: 5px;
}
