@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
* {
    margin: 0;
    padding: 0;
}
body * { 
    text-align: left;
}

ol, ul, li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}
.clear {
    clear: both;
    display: block;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
/*top*/
#heder {
	background-image: url(../img/heder_bj.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 104px;
}
.logo {
	background-image: url(../img/logo.gif);
	height: 50px;
	width: 550px;
	float: left;
}
.heder_top {
	height: 50px;
	margin-bottom: 2px;
	float: left;
	background-position: left;
	width: 100%;
}
.top_right {
	float: right;
	height: 50px;
	width: 400px;
	text-align: right;
}
#heder_right {
	background-image: url(../img/heder_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 78px;
}

.toop_right_icon {
	float: right;
	height: 40px;
	width: 30px;
	margin-right: 10px;
	text-align: center;
	margin-top: 10px;
	line-height: 20px;
}
#menu_box {
	height: 26px;
	margin-left: 50px;
}

/*menu*/

#mainMenu {
    float: left;
}
#mainMenu li {
	float: left;
	line-height: 25px;
	height: 26px;
	font-size: 14px;
	margin-left: 2px;
}
#mainMenu li a {
	font-size: 12px;
	display: block;
	float: left;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2px;
	line-height: 26px;
	color: #fff;
}

#mainMenu li a .c {
	display: block;
	float: left;
	height: 26px;
	background-image: url(../img/menu1_z.gif);
	background-repeat: repeat-x;
	padding: 0;
	background-position: center;
}
#mainMenu li a .l {
	display: block;
	float: left;
	height: 26px;
	background-image: url(../img/menu1_lefft.gif);
	padding: 0;
	width: 8px;
}
#mainMenu li a .r {
	display: block;
	float: left;
	height: 26px;
	background-image: url(../img/menu1_right.gif);
	background-position: right center;
	padding: 0;
	width: 5px;
}

#mainMenu li a:hover {
	text-decoration: none;
	color: #095384;
}

#mainMenu li a:hover .l {
	background-image: url(../img/menu2_left.gif);
}

#mainMenu li a:hover .r {
	background-image: url(../img/menu2_right.gif);
}
#mainMenu li a:hover .c {
	display: block;
	float: left;
	height: 26px;
	background-image: url(../img/menu2_z.gif);
	background-repeat: repeat-x;
	padding: 0;
	background-position: center;
	}
	
#mainMenu li a:hover .c {
    cursor: pointer;
}


#mainMenu li a.hei {
	background-image: url(.../img/menu2_z.gif);
	color: #095384;
}

#mainMenu li a.hei .l {
	background-image: url(../img/menu2_left.gif);
}

#mainMenu li a.hei .r {
	background-image: url(../img/menu2_right.gif);
}

#mainMenu li a.hei .c {
	padding-top: 0;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
	display: block;
	float: left;
	height: 26px;
	background-image: url(../img/menu2_z.gif);
	background-repeat: repeat-x;
}

/* menu end */
.user_main{
	line-height: 26px;
	background-image: url(../img/user_bj.gif);
	background-repeat: repeat-x;
	height: 26px;
	text-indent: 50px;
}



/* left */
#left_html{	
background-image: url(../img/left_bj.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
#left_box {
	background-image: url(../img/left_bj.gif);
	background-repeat: repeat-y;
	background-position: left top;
	float: left;
	width: 185px;
	margin: 5px;
	height: auto;
}
.left_box_top {
	background-color: #daa513;
	background-image: url(../img/left_menu1_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #daa513;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: #8e4700;
}
.left_box_main {
	background-color: #fff;
	padding: 5px;
}
#left_box_yc1{
	margin-bottom: 10px;
}

.left_tr1 {
	background-image: url(../img/left_menu2_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #e2edf5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
}

.left_tr1:hover {
	background-image: url(../img/left_menu3_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #b7d2e5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
}
.left_tr1_img {
	height: 16px;
	width: 16px;
	margin: 2px;
	float: left;
	display: inline;
}
.left_tr1_font {
	font-size: 12px;
	line-height: 20px;
	color: #006699;
	float: left;
	width: 150px;
	text-align: left;
	text-indent: 5px;
}
.left_tr2 {
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
	border: 1px solid #fff;
}
.left_tr2:hover {
	background-image: url(../img/left_menu3_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #b7d2e5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
}
.left_tr1_font2 {
	font-size: 12px;
	line-height: 20px;
	color: #006699;
	float: left;
	width: 130px;
	text-align: left;
	text-indent: 5px;
}
.left_tr3 {
	background-image: url(../img/left_menu4_bj.gif);
	background-repeat: repeat-x;
	border: 1px solid #e2edf5;
	margin-bottom: 2px;
	text-align: center;
	height: 20px;
	display: block;
}
