body {
	margin: 0px;
}
img {
    vertical-align: middle;
    border: 0;
}
.*{margin: 0px;
	padding: 0px;
	}
ol, ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a:link {
	color: #266da1;
	text-decoration: none;
}
a:visited {
	color: #266da1;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a:active {
	color: #266da1;
	text-decoration: none;
}

.clear {
    clear: both;
    display: block;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}
*{margin: 0px;}
.font12 {
	font-size: 12px;
}
.font_13_wit {
	font-size: 13px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
}
.red {
	color: #C00;
}
.yel {
	font-weight: bold;
	color: #ffe2a0;
}
.blu {
	color: #2a79be;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*top*/
#heder {
	background-image: url(../img/heder_bj_li.jpg);
	background-repeat: repeat-x;
	height: 115px;
	width:expression(document.body.clientWidth <= 1000? "1000px": "auto" );
min-width:1000px;
	}
.logo {
	background-image: url(../img/logo.jpg);
	float: left;
	height: 83px;
	width: 600px;
}
.heder_right {
	background-image: url(../img/heder_right_bj.jpg);
	float: right;
	height: 83px;
	width: 400px;
}
.heder_icon {
	float: left;
	height: 20px;
	width: 150px;
	padding-top: 2px;
	padding-left: 250px;
}
.icon_home {
	font-size: 12px;
	line-height: 20px;
	color: #e7f8ff;
	background-image: url(../img/icon_home.png);
	_background-image: url(../img/icon_home.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	padding-left: 22px;
	width: 28px;
}
.icon_sky {
	font-size: 12px;
	line-height: 20px;
	color: #e7f8ff;
	background-image: url(../img/icon_return.png);
	_background-image: url(../img/icon_sky.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	padding-left: 22px;
	width: 52px;
}
.icon_help {
	font-size: 12px;
	line-height: 20px;
	color: #e7f8ff;
	background-image: url(../img/icon_help.png);
	_	background-image: url(../img/icon_help.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	padding-left: 22px;
	width: 28px;
}
.icon_quit{
	font-size: 12px;
	line-height: 20px;
	color: #e7f8ff;
	background-image: url(../img/icon_quit.png);
	_	background-image: url(../img/icon_quit.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 20px;
	padding-left: 22px;
	width: 28px;
}

.icon_home a:hover, .icon_sky a:hover, .icon_help a:hover, .icon_quit a:hover {
	color: #fff;
	
}
.icon_home a:link  ,.icon_sky a:link ,.icon_help a:link,.icon_quit a:link  ,.icon_home a:visited  ,.icon_sky a:visited ,.icon_help a:visited,.icon_quit a:visited {
	color: #d4f3ff;
}
.heder_txt {
	font-size: 12px;
	line-height: 25px;
	color: #d2e4ff;
	padding-left: 170px;
	width: 200px;
	float: left;
	height: 25px;
	text-align: center;
	margin-top: 20px;
	
}
.heder_top {
	height: 83px;
}
.heder_menu {
	height: 30px;
	padding-top: 1px;
}
#mainMenu {
	float: left;
	height: 30px;
	padding-left: 10px;
}
#mainMenu li {
	float: left;
	height: 30px;
	margin-left: 2px;
}
#mainMenu li a {
	font-size: 13px;
	display: block;
	float: left;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
}

#mainMenu li a .c {
	display: block;
	float: left;
	height: 30px;
	padding: 0;
	background-position: center;
	width: 70px;
}
#mainMenu li a .l {
	display: block;
	float: left;
	height: 30px;
	padding: 0;
	width: 8px;
}
#mainMenu li a .r {
	display: block;
	float: left;
	height:30px;
	background-image: url(../img/top_icon_li.gif);
	background-position: right center;
	padding: 0;
	width: 8px;
	background-repeat: no-repeat;
}

#mainMenu li a:hover {
	text-decoration: none;
	color: #fff;
}

#mainMenu li a:hover .l {
	background-image: url(../img/menu_li_left.gif);
}

#mainMenu li a:hover .r {
	background-image: url(../img/menu_li_right.gif);
}
#mainMenu li a:hover .c {
	display: block;
	float: left;
	height: 30px;
	background-image: url(../img/menu_li_bj.gif);
	background-repeat: repeat-x;
	padding: 0;
	background-position: center;
	}
	
#mainMenu li a:hover .c {
    cursor: pointer;
}


#mainMenu li a.hei {
	color: #095384;
}

#mainMenu li a.hei .l {
	background-image: url(../img/menu_on_left.gif);
	height: 30px;
}

#mainMenu li a.hei .r {
	background-image: url(../img/menu_on_right.gif);
	height: 30px;
}

#mainMenu li a.hei .c {
	padding-top: 0;
	padding-right:5px;
	padding-bottom: 0;
	padding-left: 5px;
	display: block;
	float: left;
	height: 30px;
	background-image: url(../img/menu_on_bj.gif);
	background-repeat: repeat-x;
}

/* menu end */

.heder_menu_left {
	float: left;
	height: 30px;
	padding-left: 10px;
}
.heder_menu_left ul{
	height: 30px;
}
.heder_menu_left ul li{
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	background-image: url(../img/top_icon_li.gif);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	width: 72px;
	font-weight: bold;
}
.heder_menu_left ul li a:link,.heder_menu_left ul li a:active,.heder_menu_left ul li a:visited   {
	color: #fff;	
}
.heder_menu_left ul li a{color:#fff;}
.heder_menu_left ul li a:hover{color:#fff887;}
.heder_menu_on{
	color: #2a79be!important;
	background-image: url(../img/menu_on.gif)!important;
	background-repeat: no-repeat!important;
	background-position: center center;
}


.heder_menu_right {
	float: right;
	height: 30px;
	width: 450px;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}
.heder_menu_right ul{}
.heder_menu_right ul li{
	font-size: 12px;
	line-height: 30px;
	color: #d7f1ff;
	background-image: url(../img/top_icon_li.gif);
	background-repeat: no-repeat;
	background-position: right center;
	float: right;
	margin-right: 5px;
	padding-right: 8px;
	padding-left: 5px;
}
.heder_menu_right ul li a:link,.heder_menu_right ul li a:active,.heder_menu_right ul li a:visited   {
	color: #fff;	
}
.heder_menu_right ul li a:hover{color:#fff887;}
.heder_menu_right ul li img{
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: 5px;
}
.heder_email {
	background-image: url(../img/icon_email.png);
	_	background-image: url(../img/icon_email.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 30px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 30px;
	color: #a4ddff;
	width: 80px;
	margin-left: 20px;
}
.heder_email a:link ,.heder_email a:visited,.heder_email a:active {
	color: #a4ddff;
	}
.heder_email a:hover
	 {
	color: #fff;
	}
.heder_menu_txt {
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}

.system1{
	width: 60px;
	height: 21px;
	display: block;
	font-size: 12px;
	line-height: 21px;
	color: #fff;
	background-image: url(../img/system1.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-top: 5px;
	float: right;
	text-align: center;
}
.system1:hover {
    background-position: 0 -21px;
}
.system1:active {
    background-position: 0 -42px;
}
.system1 a:link,.system1 a:visited,.system1 a:hover,.system1 a:active,.system2 a:link,.system2 a:visited,.system2 a:hover,.system2 a:active,.system3 a:link,.system3 a:visited,.system3 a:hover,.system3 a:active   {
	color: #fff;
}

.system2{
	width: 60px;
	height: 21px;
	display: block;
	font-size: 12px;
	line-height: 21px;
	color: #fff;
	background-image: url(../img/system2.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-top: 5px;
	float: right;
	text-align: center;
}
.system2:hover {
    background-position: 0 -21px;
}
.system2:active {
    background-position: 0 -42px;
}
.system3{
	width: 90px;
	height: 21px;
	display: block;
	font-size: 12px;
	line-height: 21px;
	color: #fff;
	background-image: url(../img/system3.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-top: 5px;
	float: right;
	text-align: center;
}
.system3:hover {
    background-position: 0 -21px;
}
.system3:active {
    background-position: 0 -42px;
}
.system4{
	width: 68px;
	height: 21px;
	display: block;
	font-size: 12px;
	line-height: 21px;
	color: #fff;
	background-image: url(../img/system4.gif);
	background-repeat: no-repeat;
	margin-top: 5px;
	float: right;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}
.system4:hover {
    background-position: 0 -21px;
	color: #154b89;
}
.system4:active {
    background-position: 0 -42px;
	color: #154b89;
}
.system4 a{
  color: #7ebef5;
}

.system6_bj{
	background-image: url(../img/system6.gif);
	background-repeat: no-repeat;
	width: 150px;
	height: 21px;
	display: block;
   overflow:hidden;
	margin-top: 5px;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}

.select {
	width:170px;
	height:21px;
	font-size: 12px;
	line-height: 21px;
	color: #7ebef5;
	background:none;
	_background:#1f588a;
	margin: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
  
#sleHid { display:block; width:150px; overflow:hidden; 
}


    
#sleBG {
	width:160px;
	height:21px;
	display:block;
	background: url(../img/system_bj6.gif);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*heder end----------------------*/

/*left */
#left_main {
	margin-left: 10px;
	margin-top: 10px;
}
div.sdmenu {
	font-size: 12px;
	color: #fff;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
div.sdmenu div {
	background: url(../img/title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(../img/toptitle.gif)  repeat-x;
}
div.sdmenu div.collapsed {
	height: 28px;
}
div.sdmenu div span {
	display: block;
	font-weight: bold;
	color: white;
	cursor: default;
	background-image: url(../img/expanded.gif);
	background-repeat: no-repeat;
	background-position: 160px center;
	padding-right: 25px;
	padding-left: 10px;
	line-height: 25px;
	height: 25px;
}
div.sdmenu div.collapsed span {
	background-image: url(../img/collapsed.gif);
}
div.sdmenu div a {
	display: block;
	color: #000;
	background-color: #f2fbfe;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 1px;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #68b8ed;
	background-image: url(../img/linkarrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.menu_on{
	color: #fff!important;
	text-decoration: none;
	background-color: #00a3e1!important;
	background-image: url(../img/linkarrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#left_box {
	float: left;
	width: 100%;
}
.about_us {
	background-color: #f5f4f4;
	margin-top: 10px;
	float: left;
	width: 180px;
}
.about_us_h1{
	background-image: url(../img/toptitle.gif);
	background-repeat: repeat-x;
	height: 25px;
	width: 180px;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	text-indent: 10px;
	font-weight: bold;
}
.about_us ul{
	margin: 10px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
}
